.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 14vw 14vw;
  flex-direction: dense;
  justify-content: center;
  gap: 1.25vw;


  // flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
