$inline-padding: 8.75vw;
$desktop-max-width: 120vw;
$desktop-width: 90vw;

$header-height: 4.0625vw;

$dark-blue: #0e1324;
$dark-blue-translucent: #0e13245a;

$black-translucents: ();

@for $i from 1 through 100 {
  $key: $i * 5;
  $value: rgba(0, 0, 0, $i * 0.05);
  $black-translucents: map-merge($black-translucents, ($key: $value)) !global;
}


$bright-yellow: #e7f461;
$soft-yellow: #f3f9b0;
$bg-color: #eaeaea;
$bg-color-translucent: #eaeaea87;
$bg-login-color: #FDFCFA;

$main-text-size: 0.9vw;

$main-text-font: "Montserrat", sans-serif;

$title-font: "League Gothic", sans-serif;
$title-font-italic: "Condiment", sans-serif;

$transition: all 0.4s;

@mixin transition-transform($value) {
  transition: transform 0.3s;
  transform: $value;
}
