.dashboard__header {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  flex-direction: row;
  align-items: center;
  gap: 2vw;

  &__button {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.94vw;
    padding: 0.75vw 1.25vw;
    border-radius: $border-radius;
    background-color: $soft-yellow;
    border: none;
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: black;
    font-weight: 550;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: $soft-yellow-translucents;
    }

    &--completed {
      background-color: $soft-green;
      cursor: default;

      &:hover {
        background-color: $soft-green;
      }
    }
  }

  &__emoji {
    height: 1.5vw;
    user-select: none;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;

    &__text {
      font-family: $main-text-font;
      font-size: 1.5vw;
      color: black;
      font-weight: 550;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5vw;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item,
    &__value {
      font-family: $main-text-font;
      font-size: $main-text-size;
      color: map-get($black-translucents, 60);
      font-weight: 550;
    }

    &__value {
      color: black;
    }
  }
}
