.footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.89vw $inline-padding;
  background-color: $dark-blue;
  color: white;
  height: $header-height;
  gap: 2vw;
  justify-content: center;


  &__logo {
    width: 5vw;
    user-select: none;
  }

  &__text {
    font-size: 0.8vw;
    font-family: $main-text-font;
    color: white;
  }
}