@import "choices.js/src/styles/choices";

.user-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $soft-white;

  &__img {
    width: 50vw;
    object-fit: cover;
    object-position: top;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1.88vw 7vw;
    width: 50vw;
  }

  &__logo {
    display: inline-block;
    margin: 0 auto;
    user-select: none;

    &-img {
      width: 6.7vw;
    }
  }

  &__title {
    font-family: $title-font;
    font-size: 3.125vw;
    color: $dark-blue;
    font-weight: 500;
    margin-top: 2vw;
  }

  &__description {
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: map-get($black-translucents, 60);
    font-weight: 550;
  }

  &__continue-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.94vw;
    margin-top: 2.5vw;
  }

  &__continue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.94vw;
    border-radius: $border-radius;
    border: 0.15vw solid map-get($black-translucents, 10);
    background: $bg-color-translucent;
    padding: 0.94vw 0;
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: black;
    font-weight: 550;
    height: 3.75vw;
    cursor: pointer;

    &:hover {
      background: map-get($black-translucents, 15);
    }

    &__img {
      width: 1.4vw;
    }
  }

  &__or {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.94vw;
    padding: 2.5vw 0;

    &__line {
      width: 100%;
      height: 0.11vw;
      background-color: map-get($black-translucents, 10);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    margin-top: 2.5vw;

    &__text {
      font-family: $main-text-font;
      font-size: $main-text-size;
      color: map-get($black-translucents, 60);
      font-weight: 550;
      margin-top: -0.7vw;
    }

    &__params {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.25vw;
      width: 100%;
    }

    &__label {
      font-family: $main-text-font;
      font-size: 1.125vw;
      font-weight: 550;
      width: 100%;
    }

    &__select {
      color: map-get($black-translucents, 50);

      &:hover {
        outline: none;
        border: 0.15vw solid map-get($dark-blue-translucents, 60);
      }
      &:focus {
        outline: none;
        border: 0.15vw solid $dark-blue;
      }

      &__option {
        font-family: $main-text-font;
        font-size: $main-text-size;
        color: map-get($black-translucents, 50);
        font-weight: 550;
      }

      &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25vw;
        border: 0.15vw solid map-get($black-translucents, 10);
        border-radius: $border-radius;
        gap: 0.94vw;
        margin-top: 0.63vw;
        height: 3.75vw;
        font-family: $main-text-font;
        font-size: $main-text-size;
        color: black;
        font-weight: 550;
        width: 100%;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.25vw;
      border-radius: $border-radius;
      border: 0.15vw solid map-get($black-translucents, 10);
      gap: 0.94vw;
      margin-top: 0.63vw;
      height: 3.75vw;
      font-family: $main-text-font;
      font-size: $main-text-size;
      color: black;
      font-weight: 550;
      width: 100%;

      &::placeholder {
        font-family: $main-text-font;
        font-size: $main-text-size;
        color: map-get($black-translucents, 50);
        font-weight: 550;
      }

      &:hover {
        outline: none;
        border: 0.15vw solid map-get($dark-blue-translucents, 60);
      }

      &:focus {
        outline: none;
        border: 0.15vw solid $dark-blue;
      }
    }

    &__forgot {
      all: unset;
      font-family: $main-text-font;
      font-size: $main-text-size;
      font-weight: 550;
      color: map-get($black-translucents, 50);
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: map-get($black-translucents, 70);
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      background: $dark-blue;
      padding: 0.94vw 0;
      font-family: $main-text-font;
      font-size: $main-text-size;
      color: white;
      text-transform: uppercase;
      font-weight: 550;
      height: 3.75vw;
      margin-top: 1.6vw;
      cursor: pointer;
      border: none;
      width: 100%;

      &:hover {
        background: map-get($dark-blue-translucents, 80);
      }

      &__img {
        width: 1.4vw;
      }
    }
  }

  &__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.25vw;
    gap: 0.94vw;

    &__text {
      font-family: $main-text-font;
      font-size: $main-text-size;
      font-weight: 550;
    }

    &__button {
      all: unset;
      font-family: $main-text-font;
      font-size: $main-text-size;
      font-weight: 700;
      color: $dark-blue;
    }
  }
}
