.exercise-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min-content;
  padding: 1.25vw 0.5vw;
  border-radius: $border-radius;
  background-color: $soft-white;
  box-shadow: $box-shadow;
  width: 100%;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  &__name,
  &__value,
  &__key {
    font-size: $main-text-size;
    font-family: $main-text-font;
    font-weight: 550;
    color: map-get($black-translucents, 70);
  }

  &__value {
    color: map-get($black-translucents, 80);
    font-size: 1.5vw;
    line-height: 1vw;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 8.75vw;
    user-select: none;
  }

  &__arrow {
    width: 0.9vw;
    font-size: $main-text-size;
    user-select: none;
    cursor: pointer;

    &--right {
      transform: rotate(-90deg);
    }
    &--left {
      transform: rotate(90deg);
    }
  }
}
