.next-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min-content;
  padding: 1.25vw;
  border-radius: $border-radius;
  background-color: $soft-white;
  box-shadow: $box-shadow;
  width: 100%;

  grid-column: 4 / 5;
  grid-row: 1 / 2;


  &__title,
  &__training__details,
  &__day,
  &__month-year,
  &__training__type {
    font-size: $main-text-size;
    font-family: $main-text-font;
    font-weight: 550;
    color: map-get($black-translucents, 70);
    text-align: center;
  }

  &__day {
    color: black;
    font-size: 3.125vw;
    line-height: 3vw;
  }

  &__month-year {
    color: black;
    font-size: 1.25vw;
  }

  &__training {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__type {
      font-size: 0.8vw;
    }

    &__details {
      color: map-get($black-translucents, 60);
    }
  }

  &__value {
    color: map-get($black-translucents, 80);
    font-size: 1.5vw;
    line-height: 1vw;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 8.75vw;
  }

  &__arrow {
    width: 0.9vw;
    font-size: $main-text-size;
    user-select: none;
    cursor: pointer;

    &--right {
      transform: rotate(-90deg);
    }
    &--left {
      transform: rotate(90deg);
    }
  }
}
