.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75vw;
  margin-top: 0.63vw;
  border-radius: $border-radius;
  border: 0.15vw solid map-get($black-translucents, 10);
  background-color: white;

  &:hover {
    outline: none;
    border: 0.15vw solid map-get($dark-blue-translucents, 60);
  }

  &:focus {
    outline: none;
    border: 0.15vw solid $dark-blue;
  }

  &[data-type*="select-one"]::after {
    content: "" !important;
    display: block;
    border: none;
    top: 55%;
    right: 1vw;
    width: 1vw;
    height: 0.5vw;
    background-image: url("../../../images/faq-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

  &.is-open::after {
    transform: rotate(180deg);
  }

  &__inner {
    top: -0.5vw;
    display: flex;
    align-items: center;
    height: 3.75vw;
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: map-get($black-translucents, 50);
    border: none;
    border-radius: $border-radius;

    font-weight: 550;
    padding: 0px !important;
    background-color: transparent;
  }

  &__list {
    width: 100%;
    height: min-content;

    &--single {
      padding: 1.25vw;
    }

    &--dropdown {
      background-color: map-get($black-translucents, 50);
    }
  }

  &__placeholder {
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: map-get($black-translucents, 70);
    font-weight: 550;
  }

  &__item {
    font-family: $main-text-font;
    color: map-get($black-translucents, 100);
    font-weight: 550;
    cursor: pointer;
    font-size: $main-text-size !important;

    &--selectable {
      font-family: $main-text-font;
    }
  }
}