$inline-padding: 8.75vw;

$header-height: 4.0625vw;

$dark-blue: #0e1324;

$black-translucents: ();
$dark-blue-translucents: ();

@for $i from 1 through 100 {
  $key: $i * 5;
  $value-black: rgba(0, 0, 0, $i * 0.05);
  $value-blue: rgba(14, 19, 36, $i * 0.05);
  $black-translucents: map-merge($black-translucents, ($key: $value-black)) !global;
  $dark-blue-translucents: map-merge($dark-blue-translucents, ($key: $value-blue)) !global;
}

$width-navigation: 15%;
$width-calendar: 25%;

$bright-yellow: #e7f461;
$bright-blue: #9F9ADF;
$bright-purple: #C19ADF;
$bright-red: #cf6d6d;

$soft-yellow: #f3f9b0;
$soft-yellow-translucents: #f5f9c5;
$soft-green: #CADD98;
$soft-green-translucents: #cadd9883;
$soft-red: #E5B3A5;
$soft-red-translucents: #e5b3a57f;
$soft-blue: #BCC2D4;
$soft-orange: #F0DBA0;
$soft-purple: #D3BDE3;
$soft-pink:#FEB5EC;

$bg-color: #eaeaea;
$bg-color-translucent: #eaeaea87;
$soft-white: #FDFCFA;

$border-radius: 1.25vw;
$gap: 1.5vw;
$box-shadow: 0px 0px 1.25vw map-get($black-translucents, 10);
$box-shadow-mini: 0px 0px 0.5vw map-get($black-translucents, 25);

$main-text-size: 0.9vw;


$main-text-font: "Montserrat", sans-serif;

$title-font: "League Gothic", sans-serif;
$title-font-italic: "Condiment", sans-serif;

$transition: all 0.4s;

