.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;

  &__title {
    font-size: 5vw;
    font-weight: 550;
    font-family: $title-font;
    text-transform: uppercase;
    line-height: 4vw;
    margin-top: 5%;
    color: $dark-blue;
  }

  &__description {
    font-size: $main-text-size;
    font-weight: 550;
    font-family: $main-text-font;
  }

  &__button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.89vw;
    height: 3.02vw;
    border-radius: 2.6vw;
    border: none;
    font-size: $main-text-size;
    font-weight: 600;
    font-family: $main-text-font;
    text-transform: uppercase;
    padding: 1.04vw 0.36vw 1.04vw 1.2vw;
    background-color: $dark-blue;
    color: $bright-yellow;
    cursor: pointer;

    &:hover .not-found__button__arrow {
      animation: moveArrow 0.5s infinite alternate;
    }

    &__circle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.34vw;
      width: 2.34vw;
      background-image: url("../../../images/main-but-circle.svg");
      background-size: cover;
      background-position: center;
    }

    &__arrow {
      height: 0.78vw;
      position: relative;
      user-select: none;
      transition: transform 0.5s ease-out;
    }
  }
}
