@import 'https://fonts.googleapis.com/css2?family=Condiment&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $transition;
  scroll-behavior: smooth;
}

a {
  all: unset;
  display: flex;
  margin: auto 0;
  height: max-content;
  width: max-content;
  cursor: pointer;

}

body {
  background-color: $bg-color;
}